<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMYSCURM - Introducción</title>
    <link rel="stylesheet" href="../src/css/intro.css"> 
</head>
<body id="game-screen">
 
    <div class="header"> 
        <h1>Metodologías de Admin de Proyectos</h1>
    </div>

    <div class="game-content">
        <p class="game-instruction">
            Aprende las bases de las metodologías PMBOK y SCRUM <br>
            por medio de nuestro contenido didáctico y <br>
            simulación de proyectos
        </p>

        <div class="cards-container">
            <div class="game-card" onclick="location.href='teoria_hub.html';">
                <img src="../src/img/PMBOK_Icon.png" alt="Icono PMBOK" class="card-icon">
                <p>¡Aprende la teoría!</p>
                <img src="../src/img/SCRUM_Icon.png" alt="Icono SCRUM" class="card-icon bottom-icon">
            </div>

            <div class="game-card" onclick="location.href='simulacion_hub.html';">
                <p>Simulación Interactiva</p>
            </div>
        </div>

        <button class="game-button tutorial-button" onclick="location.href='tutorial.html';">Ver Tutorial</button>
    </div>

</body>
</html>