<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMBOK información</title>
    <link rel="stylesheet" href="../src/css/pmbok_info.css">
</head>
<body>
    <div class="header"> 
        <h1>PMBOK Información</h1>
    </div>

    <div class="content">
        <div class="info-container">
            <h2>¿Qué es el PMBOK?</h2>
            <p>El PMBOK (Project Management Body of Knowledge) es un conjunto de estándares y mejores prácticas para la gestión de proyectos, desarrollado por el Project Management Institute (PMI). Proporciona un marco estructurado que abarca diversas áreas de conocimiento y procesos esenciales para la planificación, ejecución, monitoreo y cierre de proyectos.</p>
            
            <h2>Áreas de Conocimiento del PMBOK</h2>
            <ul>
                <li>Gestión de la Integración del Proyecto</li>
                <li>Gestión del Alcance del Proyecto</li>
                <li>Gestión del Cronograma del Proyecto</li>
                <li>Gestión de los Costos del Proyecto</li>
                <li>Gestión de la Calidad del Proyecto</li>
                <li>Gestión de los Recursos del Proyecto</li>
                <li>Gestión de las Comunicaciones del Proyecto</li>
                <li>Gestión de los Riesgos del Proyecto</li>
                <li>Gestión de las Adquisiciones del Proyecto</li>
                <li>Gestión de los Interesados del Proyecto</li>
            </ul>
            
            <h2>Importancia del PMBOK</h2>
            <p>El PMBOK es fundamental para los profesionales de la gestión de proyectos, ya que proporciona un lenguaje común y un conjunto de prácticas probadas que ayudan a mejorar la eficiencia y efectividad en la entrega de proyectos. Además, es una referencia clave para la certificación PMP (Project Management Professional).</p>
            <br>
            <h2>Sistema de entrega de valores</h2>
            <p>El PMBOK promueve un enfoque basado en la entrega de valor, asegurando que los proyectos no solo se completen a tiempo y dentro del presupuesto, sino que también cumplan con los objetivos estratégicos y aporten beneficios tangibles a las organizaciones.</p>
            <br>
            <h2>Dominios de desempeño de un proyecto</h2>
            <p>El PMBOK identifica varios dominios de desempeño clave que los gerentes de proyectos deben gestionar para asegurar el éxito del proyecto. Algunos de estos son: </p>
            <ul>
                    <li>Partes interesadas</li>
                    <li>Equipo</li>
                    <li>Ciclo de vida del proyecto</li>
                    <li>Planificación</li>
                    <li>Trabajo del proyecto</li>
                    <li>Entrega</li>
                    <li>Medición del desempeño</li>
                    <li>Incertidumbre</li>
            </ul>
            <br>
            <h2>Adaptación</h2>
            <p>El PMBOK reconoce la necesidad de adaptar las prácticas de gestión de proyectos a diferentes contextos y entornos. Proporciona directrices para personalizar los procesos y herramientas según las características específicas del proyecto, la industria y la cultura organizacional.</p>
            <br>
            <h2>Modelos, métodos y artefactos</h2>
            <p>El PMBOK incluye una variedad de modelos, métodos y artefactos que los gerentes de proyectos pueden utilizar para planificar, ejecutar y controlar sus proyectos. Estos incluyen diagramas de Gantt, matrices de riesgos, planes de comunicación, entre otros.</p>
            <ol>
                <li>Modelos: Representaciones simplificadas de procesos o sistemas que ayudan a comprender y gestionar proyectos. Ejemplos incluyen modelos de ciclo de vida del proyecto y modelos de madurez organizacional.</li>
                <li>Métodos: Técnicas y enfoques específicos utilizados para llevar a cabo actividades de gestión de proyectos, como la estimación de costos, la gestión de riesgos y la planificación del cronograma.</li>
                <li>Artefactos: Documentos y herramientas tangibles que se crean durante el ciclo de vida del proyecto, como el acta de constitución del proyecto, el plan de gestión del proyecto y los informes de estado.</li>
            </ol>
            <br>
            <h2>Nuevo enfoque de PMBOK v.7</h2>
            <p>El PMBOK séptima edición introduce un enfoque más flexible y adaptativo para la gestión de proyectos, centrándose en principios y dominios de desempeño en lugar de procesos prescriptivos. Este cambio refleja la evolución de la gestión de proyectos hacia metodologías ágiles y enfoques híbridos, permitiendo a los gerentes de proyectos seleccionar y adaptar prácticas según las necesidades específicas de sus proyectos.</p>
            <br>
            <h2>Tips para el manejo de PMBOK</h2>
            <ul>
                <li>Familiarízate con las áreas de conocimiento y procesos del PMBOK.</li>
                <li>Adapta las prácticas del PMBOK a las necesidades específicas de tu proyecto.</li>
                <li>Utiliza herramientas y artefactos recomendados para mejorar la gestión del proyecto.</li>
                <li>Enfócate en la entrega de valor y beneficios para los interesados.</li>
                <li>Mantente actualizado con las últimas ediciones y tendencias en gestión de proyectos.</li>
            </ul>
        </div>
    </div>
    <br>
    <button class="game-button" onclick="location.href='teoria_hub.html'">Regresar</button>
    <br><br><br><br>
    <audio id="miAudio" src="../src/audio/Ruins.mp3" autoplay loop muted></audio>

    <script src="../src/js/background_music.js" type="module"></script>
</body>
</html>