<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMYSCURM - Introducción</title>
    <link rel="stylesheet" href="../src/css/simulacion_hub.css"> 
</head>
<body id="game-screen">
 
    <div class="header"> 
        <h1>Escenarios simulados</h1>
    </div>

    <div class="game-content">
        <p class="game-instruction">
            Elige un caso de estudio para aplicar tus conocimientos en gestión de proyectos.<br>
        </p>
        <br>
        <p class="game-instruction">Casos de SCRUM</p>
        <div class="cards-container">
            <div class="game-card" data-metodologia="scrum" data-caso="1">
                <p>Caso 1</p>
            </div>

            <div class="game-card" data-metodologia="scrum" data-caso="2">
                <p>Caso 2</p>
            </div>

            <div class="game-card" data-metodologia="scrum" data-caso="3">
                <p>Caso 3</p>
            </div>

            <div class="game-card" data-metodologia="scrum" data-caso="4">
                <p>Caso 4</p>
            </div>

            <div class="game-card" data-metodologia="scrum" data-caso="5">
                <p>Caso 5</p>
            </div>
        </div>
        <br>
        <p class="game-instruction">Casos de PMBOK</p>
        <div class="cards-container">
            <div class="game-card" data-metodologia="pmbok" data-caso="1">
                <p>Caso 1</p>
            </div>
            
            <div class="game-card" data-metodologia="pmbok" data-caso="2">
                <p>Caso 2</p>
            </div>
            <div class="game-card" data-metodologia="pmbok" data-caso="3">
                <p>Caso 3</p>
            </div>
            <div class="game-card" data-metodologia="pmbok" data-caso="4">
                <p>Caso 4</p>
            </div>
            <div class="game-card" data-metodologia="pmbok" data-caso="5">
                <p>Caso 5</p>
            </div>
        </div>

        <button class="game-button tutorial-button" onclick="location.href='intro.html';">Regresar a Introducción</button>
    </div>

    <audio id="miAudio" src="../src/audio/Ruins.mp3" autoplay loop muted></audio>

</body>

    <script src="../src/js/simulacion_hub.js" src="../src/js/background_music.js" type="module"></script>
</html>