<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMYSCURM - Teoría hub</title>
    <link rel="stylesheet" href="../src/css/teoria_hub.css"> 
</head>
<body id="game-screen">
 
    <div class="header"> 
        <h1>Metodologías de Admin de Proyectos</h1>
    </div>

    <div class="game-content">
        <p class="game-instruction">
            ¿Listo para profundizar en la teoría de PMBOK y SCRUM? <br><br><br>
            Explora nuestros módulos teóricos y fortalece tus conocimientos en gestión de proyectos.
        </p> <br><br><br>

        <div class="cards-container">
            <div class="game-card" onclick="location.href='pmbok_info.html';">
                <p>METODOLOGÍA PMBOK</p>
                <img src="../src/img/PMBOK_ICON2.png" alt="Icono PMBOK" class="card-icon">
            </div>

            <div class="game-card" onclick="location.href='scrum_info.html';">
                <p>METODOLOGÍA SCRUM</p>
                <img src="../src/img/SCRUM_ICON2.png" alt="Icono SCRUM" class="card-icon">
            </div>

         </div>
        <br><br>
        <button class="game-button tutorial-button" onclick="location.href='intro.html';">Regresar a Introducción</button>
    </div>

    <audio id="miAudio" src="../src/audio/Ruins.mp3" autoplay loop muted></audio>

    <script src="../src/js/background_music.js" type="module"></script>
</body>
</html>